# MEANT 2.0 sample config file for evaluating English

# reference language shallow semantic parser
refsrlname=senna
refsrlpath=$SENNA/src/senna

# meant semantic role label definition
labelconfig=$MEANTSRC/meant.labelconfig
# meant semantic role weight definition; leave it empty if using heuristic to estimate from reference
weightconfig=

# lexical similarity model
lexsimname=w2v 
lexsimpath=$MEANTSRC/test/mini.d300.en
lexsimfunc=cosine

# reference lexical weight model; leave the weight path empty if learning from the reference file 
reflexweightname=learn
reflexweightpath=
# hypothesis lexical weight model; leavel it empty if it is the same as the reference lexical weight model
hyplexweightname=
hyplexweightpath=

# phrasal similarity function name: nnwf / nnrecall for MEANT 2.0;
phrasesimname=nnwrecall
# value for N for distributional N-gram accuracy
n=2

# function for combining semantic frame precision and recall and the value of alpha
prfuncname=f
alpha=1
