srclang=de
tgtlang=en
lexsimname=biw2v
inplexsimpath=mini.d300.de
outlexsimpath=mini.d300.en
inpsrlname=mate
inpsrlpath=../src/$srclang.mplsconfig
outsrlname=mate
outsrlpath=../src/$tgtlang.mplsconfig
labelconfig=../src/yisi_srl.labelconfig
phrasesimname=nwpr
n=3
mode=yisi
alpha=0.8
beta=0.2
inpfile=test_inp.de
hypfile=test_hyp.en
sntscorefile=test_hyp.sntyisi2_srl
docscorefile=test_hyp.docyisi2_srl
